<div class="modal-header">
    <h3 class="modal-title">Agregar tipo de medicamento</h3>
</div>
<div class="modal-body">
    <!-- <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b> -->

     <!-- <input type="text" class="form-control" placeholder="fecha" ng-model="item.fecha" >  -->
    
     <div class="row" >
    <div class="form-group">

<div class="col-md-8">
             
                <input placeholder="Tipo de medicamento"type="text" class="form-control" 
               ng-model="item.nombre" 
                  
               >
             </div>  

             
       
         
       
      </div>
</div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="okTipoMedicamento(item)">OK</button>
</div>