<div class="modal-header">
    <h3 class="modal-title">Agregar sucursal</h3>
</div>
<div class="modal-body">



    <div class="row" >
    <div class="form-group">
            <div class="col-md-10">
             
                <input placeholder="Nombre de la sucursal"type="text" class="form-control" 
               ng-model="item.nombre" 
          
               >
             </div>  
 </div>
    </div>

   

   
       
         
       

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="okSucursal(item)">OK</button>
</div>