<div class="modal-header">
    <h3 class="modal-title"> <i class="glyphicon glyphicon-trash" ></i> Borrar articulo</h3>
</div>
<div class="modal-body">
 
      <div class="row" >
        <div class="form-group">
          <div class="col-sm-12">
            {{mensajeBorrado}}
          </div>  
        </div>
      </div>
</div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" id="no"ng-click="cancel()">No</button>
    <button class="btn btn-danger" ng-click="okConfirm(item)">Si</button>
</div>