<div class="modal-header">
    <h3 class="modal-title">Registrar entrada</h3>
</div>
<div class="modal-body">
  <div class="row" >
    <div class="form-group">
      <div class="col-md-6">
      Cantidad
        
      </div>
       <div class="col-sm-4" >
          Unidad 
      </div>
    </div>
     
  </div>
  <div class="row" >
    <div class="form-group">
      <div class="col-sm-6" >
        <input placeholder="Cantidad"type="number" class="form-control" ng-model="item.cantidadIngreso"id="cantidad"   min="1">
      </div>
     
    
      <div class="col-sm-6" >
    <!--   </div>
      <div class="col-sm-8" > -->
    <!--     <p class="form-control-static" ng-hide="item.editing">{{item.raza}}</p> -->
   <!-- <ui-select ng-model="item.unidad" theme="bootstrap" ng-change="calculoPrecioVenta()" > -->
        <ui-select ng-model="item.unidad" theme="bootstrap" >
          <ui-select-match placeholder="..." >{{$select.selected.descripcion}}</ui-select-match>
          <ui-select-choices group-by="'descripcion'" repeat="item.unidad as item in unidades | filter: $select.search">
            <span ng-bind-html="item.descripcion | highlight: $select.search"></span>
            <!-- <small ng-bind-html="item.email | highlight: $select.search"></small> -->
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>  
  <div class="row" >
    <div class="form-group">
      <div class="col-md-12">
      Nro de factura
        <input placeholder="Nro Factura"type="text" class="form-control" ng-model="item.numeroFactura" id="numeroFactura">
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="form-group">
      <div class="col-md-8">
      Precio de costo
        <input placeholder="Precio de Costo"type="number" class="form-control" ng-model="item.precioCosto" ng-change="calculoPrecioVenta()"  id="precioCosto"   min="1">
      </div>
    </div>
  </div>
    

    

  <div class="row" >
    <div class="form-group">
      <div class="col-md-8">
      Proveedor
        <input placeholder="Proveedor"type="text" class="form-control" ng-model="item.proveedor" id="proveedor"   >
      </div>
    </div> 
  </div>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="okEntradaingrediente(item)">OK</button>
</div>