

<div class="wrapper-md">
<h1 class="m-n font-thin h3">Nómina</h1>
<div class="" ng-controller="NominaFormController" ng-init="
  app.settings.asideFixed = true;

  app.settings.container = false;
  app.settings.asideFolded = true;
  app.hideAside = false;
  app.hideFooter = true;

    app.settings.asideFolded = true; ">

  <!-- <a href class="btn btn-sm btn-info pull-right" onClick="window.print();">Print</a> -->
  

<!--   <div class="col">
    <div class="row m-t ">
      <div class="col-sm-7">
           <a href class="thumb-lg pull-left m-r">
              <img src="img/User_Circle2.png" class="img-circle">
            </a>
         
             <div class="m-b m-t-sm">
              <span class="h2 text-light">Administrador </span>
              <p></p>
                <span class="h3 text-light">{{app.nombre}}</span>
            
            </div>
            <a class="btn btn-xs btn-info" ng-hide="item.editing" ng-click="editItem(item)">Editar datos de cuenta</a>
            <a class="btn btn-xs btn-success" ng-show="item.editing" ng-click="doneEditingDatos(item)">Guardar cambios</a>          
      </div>
    </div>
  </div> -->
<!--    <div class="clear m-b">
      <span class=" text-light h5 " >Nombre del usuario Administrador: </span>  <span class=" text-light h4 " >{{item.nombre}}</span>
        <div class="h1">
          <input type="text" placeholder="Nombre completo" class="form-control w-auto input-sm m-b-n-xxs " ng-model="item.nombre" ng-show="item.editing">
          <span class=" text-light h5 " >E-mail del usuario Administrador </span>
          <span class=" text-light h4 " >{{item.email}}</span>
       
         
           <span class=" text-light h5 " ng-show="item.editing">Contraseña: </span>
           <input type="text" ng-show="item.editing" placeholder="Contraseña" class="form-control w-auto input-sm" ng-model="item.password" > 
        </div>      
    </div> -->
     <!--  <div>
        Tipo de establecimiento
          <ui-select ng-model="item.tipoEstablecimiento" theme="bootstrap" ng-show="item.editing">
          <ui-select-match placeholder="Seleccione...">{{$select.selected.descripcion}}</ui-select-match>
          <ui-select-choices group-by="'descripcion'" repeat="item.tipoEstablecimiento as item in tiposEstablecimiento | filter: $select.search">
          <span ng-bind-html="item.descripcion | highlight: $select.search"></span>
              
          </ui-select-choices>
          </ui-select>
      </div> -->




<!--  <table class="table table-striped bg-white b-a">
      <thead>
        <tr>
          <th style="width: 60px">ESTADO</th>
          <th>MODULO</th>
          <th style="width: 140px">PRECIO <MAP>MENSUAL</MAP></th>
          <th style="width: 140px">TOTAL ANUAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="label bg-success">Activo</span></td>
          <td>Inventario</td>
          <td>Bs.F. 13.500,00</td>
          <td>Bs.F. 54.000,00</td>
        </tr>
        <tr>
          <td><span class="label bg-success">Activo</span></td>
          <td>Nómina</td>
          <td>Bs.F. 9.000,00</td>
          <td>Bs.F. 36.000,00</td>
        </tr>
        <tr>
          <td><span class="label bg-success">Activo</span></td>
          <td>Contabilidad</td>
          <td>Bs.F. 13.500,00</td>
          <td>Bs.F. 54.000,00</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
          <td>Bs.F. 144.000,00</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right no-border"><strong>Descuento </strong>(40 %)</td>
          <td>Bs.F. 9.600,00 </td>
        </tr>
       
          <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
          <td><strong>Bs.F. 86.400.00</strong></td>
        </tr>
      </tbody>
    </table> -->


  
  
</div>

</div>